/target
/kernel-module/kernel_module/.*
/kernel-module/kernel_module/*.ko
/kernel-module/kernel_module/*.mod*
/kernel-module/kernel_module/*.o
/kernel-module/kernel_module/Module.symvers
/kernel-module/kernel_module/modules.order

